nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(45deg, #000c2a,#410358);
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

nav img {
    width: 50px;
    margin: 5px;
}

nav a {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s;
    cursor: pointer;
}

nav a:hover {
    color:#fe5000;
    font-size: 26px;
}

nav input {
    font-size: 20px;
    height: 35px;
    margin: auto;
    margin-right: 5px;
    border-radius: 50px;
}

nav button {
    width: 40px;
    height: 35px;
    margin: auto;
    margin-right: 5px;
    border-radius: 50px;
    transition: all .5s;
}

nav button:hover {
    background-color: #fe5000;
    cursor: pointer;
}

.last-btn {
    display: none;
}

.lnav-cont {
    display: flex;
}

.rnav-cont {
    display: flex;
}

.rnav-cont p {
    margin: auto;
    padding: 0 10px;
}

.lnav-cont p {
    margin: auto;
    padding: 0 10px;

}

@media (max-width: 760px) {
    nav a {
        font-size: 20px;
    }

    nav input {
        font-size: 20px;
        width: 110px;
        height: 25px;
    }
    
    nav button {
        font-size: 13px;
        width: 30px;
        height: 25px;
    }

    nav a:hover {
        font-size: 21px;
    }
}

@media (max-width: 530px) {
    nav {
        display: block;
        background: linear-gradient(45deg, #410358,#000c2a,#410358);
    }
    
    nav a {
        font-size: 17px;
    }

    nav a:hover {
        font-size: 18px;
    }

    nav input {
        font-size: 16px;
        width: 90px;
        height: 25px;
        margin-right: 0;
    }
    
    nav button {
        font-size: 10px;
        width: 30px;
        height: 25px;
        margin-left: 0;
        margin-right: 0;
    }

    .last-btn {
        display: inline-block;
        margin-right: 5px;
    }

    .basket {
        display: none;
    }

    .rnav-cont {
        margin-bottom: 5px;
    }

    .lnav-cont img {
        margin: 5px auto;
        margin-right: 0px;
    }

    .lnav-cont p {
        display: inline;
        margin-left: 0;
    }
}